body {
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.header {
  z-index: 999;
  position: sticky;
  top: 0;
}
nav {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 6px 4%;
  display: flex;
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 10%);
}
.nav-links {
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-top: 7px;
}

.restaurnat-list {
  background-color: #fff;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 20px 4% 40px;
  display: flex;
}
.card:hover {
  border-color: #6f717a;
  box-shadow: 0 0px 7px 0 rgb(105 113 157 / 60%);
}
.card {
  width: 240px;
  background-color: #fff;
  padding: 20px;
  font-size: 12px;
}
.card-shimmer {
  width: 240px;
  background-color: #fff;
  padding: 20px;
}
.card-shimmer:hover {
  pointer-events: none !important;
}
.card-body-title {
  font-weight: 500;
}

.image {
  width: 100%;
  height: 150px;
  background-color: #ccc;
  object-fit: contain;
}
.dummy-offer {
  color: #8a584b;
  font-weight: 500;
}
.discount {
  width: 20px;
}
.offer {
  margin-top: -22px;
  margin-left: 22px;
}

.footer {
  background-color: #bdbcbc;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4%;
  display: flex;
}
.social-handle {
  gap: 1rem;
  list-style-type: none;
  display: flex;
}

.social-handle li i {
  color: #14100b;
  opacity: 0.6;
  font-size: 18px;
}

.search-restro {
  height: 52px;
  justify-content: center;
  display: flex;
  position: relative;
  padding: 20px 0 0;
}
.search-input {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  padding: 18px 10px;
  font-size: 20px;
}
.search-input:focus {
  border: 1px solid #8a2be2;
  outline: none;
}
.btn-search {
  border-radius: 0 4px 4px 0;
  padding: 0px 10px;
  font-size: 20px;
  width: 100px;
}

.btn-login {
  padding: 12px 15px;
  width: 70px;
  height: 35px;
}

.error {
  text-align: center;
}
.error h1 {
  font-size: 150px;
}
.error h2 {
  margin-top: -120px;
  margin-left: 26px;
}
button:hover {
  cursor: pointer;
  font-weight: 600;
}
button {
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 4px;
}
.error .btn-home {
  padding: 12px 15px;
  width: 120px;
  height: 35px;
  color: #fff !important;
}

a {
  color: #000;
  text-decoration: none;
}

button a {
  color: #fff !important;
}
.nav-links a {
  width: 50px;
  display: block;
}

.nav-links li a:hover {
  border-radius: 4px solid rgb(68, 67, 67);
  font-weight: 500;
}

.about {
  text-align: center;
  height: 465px;
}
.about ul li {
  list-style: none;
  margin-right: 40px;
}

/*  Restaurant Detail  start*/

.container {
  max-width: 800px;
  min-height: 800px;
  margin: 20px auto 0;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.restNameAddress {
  display: inline-block;
  margin-right: 16px;
  width: calc(100% - 120px);
}
.rest-name {
  font-size: 1.43rem;
  font-weight: 600;
  color: #282c3f;
  margin-bottom: -9px;
  margin-top: 0;
  text-transform: capitalize;
}
.rest-detail {
  font-size: 14px;
  color: #7e808c;
  height: calc(1.3rem + 2px);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -16px;
  white-space: nowrap;
}
.rest-ratings {
  border: 1px solid #e9e9eb;
  box-shadow: 0 1px 5px #f9f9f9;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  max-width: 61px;
  float: right;
  background-color: none !important;
}
.star {
  margin-top: 2px;
}
.total-rating {
  font-size: 11px;
  color: #8b8d97;
  font-family: ProximaNovaCondensedRegular, arial, Helvetica Neue, sans-serif;
  font-weight: 500;
}
.avg-rating {
  color: #3d9b6d;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9eb;
  font-weight: 700;
  margin-bottom: 8px;
  display: block;
}
.icon-exc {
  color: #f15700;
  width: 18px;
  height: 18px;
}
.d-flex {
  display: flex;
}
.mt {
  margin-top: 0px;
  margin-left: 4px;
}

.mtop {
  margin-top: 10px;
}
.hr-tag {
  border: none;
  border-bottom: 1px dashed #d3d3d3;
  margin-top: 15px;
}
.icon {
  height: 18px;
  width: 18px;
}
.head {
  margin-top: 15px;
}
.message {
  margin-top: -1px;
  margin-left: 6px;
}
.ml {
  margin-left: 20px;
}
.timeCost {
  color: #3e4152;
  font-size: 15px;
  font-weight: 700;
}
.fix-width {
  width: 240px;
}
.offer-coupon {
  border: 1px solid #e9e9eb;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 8px;
  height: 65px;
  width: 230px;
  justify-content: center;
  margin-right: 10px;
}
.restOffer {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}
.headerOffer {
  margin-top: 0px;
}
.offerCode {
  font-size: 12px;
  color: #93959f;
  margin-top: -20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
  font-weight: 600;
  font-family: ProximaNovaCondensedRegular, arial, Helvetica Neue, sans-serif;
}
.headerOfferP {
  margin-top: 2px;
  margin-left: 4px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  color: #686b78;
  font-family: ProximaNovaCondensedBold, arial, Helvetica Neue, sans-serif;
}
.sliderOffer {
  display: -webkit-box;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 230px;
}

.menuCard-container {
  height: 130px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.menuCard-divider {
  border-bottom: 0.5px solid #d3d3d3;
  height: 0.5px;
  margin: 20px 0;
}
.menuCard-details {
  max-width: calc(100% - 144px);
}
.menuCard-name {
  margin-top: 4px;
  margin-right: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #3e4152;
  word-break: break-word;
}
.menuCard-price {
  -webkit-box-align: center;
  align-items: center;
  margin-top: -13px;
  font-size: 14px;
  margin-right: 8px;
  font-weight: 400;
  color: #3e4152;
}
.menuCard-desc {
  margin-top: 14px;
  line-height: 18px;
  font-family: ProximaNova, arial, "Helvetica Neue", sans-serif;
  color: rgba(40, 44, 63, 0.45);
  width: 70%;
  letter-spacing: -0.3px;
  font-size: 14px;
  font-weight: 300;
}
.menuCard-img {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(40, 44, 63, 0.05);
  background-blend-mode: overlay;
  height: 96px;
  border-radius: 6px;
}
.menuCard-Header {
  font-family: ProximaNova, arial, "Helvetica Neue", sans-serif;
  color: #3e4152;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
}
.menuCard-titleHeader {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-right: 16px;
  font-size: 1.15rem;
  margin-bottom: 15px;
}
.vegOnly {
  margin-top: 40px;
  font-size: 14px;
  color: #3d4152;
  font-weight: 600;
}
.arrow {
  background-color: #0000 !important;
  background-image: none;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.arrow:hover {
  cursor: pointer;
}
